@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-v13-cyrillic_latin-900.woff2') format('woff2');
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #292D32;
  background-color: #FFF6EB;
}

main {
  flex-grow: 1;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a, button {
  transition: 0.3s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 900;
}

label {
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="search" i]::-webkit-search-cancel-button {
  display: none;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  --width: 1260px;
  --padding: 30px;
  max-width: calc(var(--width) + var(--padding) * 2);
  padding: 0 var(--padding);
  margin: 0 auto;
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
  letter-spacing: 0.02em;
}

/* Header */
.header {
  padding: 32px 0 24px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link:hover,
.header__link:focus-visible {
  color: #FB6231;
}

.header__logo {
  width: 240px;
  height: 32px;
}

.header__link_favorite {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.header__icon {
  width: 20px;
  height: 20px;
}

/* Hero */
.hero {
  margin-bottom: 32px;
  padding: 60px 0 80px;
  background: #FF6A00 url('../img/bg.jpg') center/cover;
  color: #fff;
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero__link {
  position: absolute;
  top: -36px;
  right: 0;
  display: flex;
  gap: 4px;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.hero__icon {
  width: 20px;
  height: 20px;
}

.hero__logo {
  margin-bottom: 80px;
  width: 240px;
  height: 32px;
}

.hero__title {
  margin-bottom: 40px;
  font-size: 70px;
  letter-spacing: 0.02em;
}

/* Search */
.search__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: 24px;
  height: 38px;
  border-radius: 40px;
  border: 1px solid #FB9953;
  transition: 0.3s;
}

.search__form:hover,
.search__form:focus-within {
  border-color: #FB6231;
}

.search__input {
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #151515;
}

.search__input::placeholder {
  color: rgba(41, 45, 50, 0.4);
}

.search__btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 16px;
  min-width: 105px;
  height: 36px;
  border-radius: 40px;
  border: 1px solid transparent;
  background: #FF6A00;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #FFF;
  outline: 1px solid transparent;
}

.search__btn:hover {
  background-color: #FB6231;
}

.search__btn:focus-visible {
  outline-color: #883900;
}

.search__btn:disabled {
  cursor: no-drop;
  opacity: 0.3;
}

.search__icon {
  width: 20px;
  height: 20px;
}

/* Video list */
.video-list {
  padding: 80px 0;
}

.video-list__items {
  --grid-count: 3;
  --grid-row-gap: 40px;
  --grid-column-gap: 12px;
  display: grid;
  grid-template-columns: repeat(
    var(--grid-count), 
    calc((100% / var(--grid-count)) - (var(--grid-column-gap) * (var(--grid-count) - 1) / var(--grid-count)))
  );
  gap: var(--grid-row-gap) var(--grid-column-gap);
}

/* Video Card */
.video-card {
  position: relative;
  width: 100%;
}

.video-card__thumbnail {
  margin-bottom: 12px;
  width: 100%;
  border-radius: 16px;
}

.video-card__title {
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: 0.02em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  transition: 0.3s;
}

.video-card__channel {
  margin-bottom: 10px;
  letter-spacing: 0.02em;
}

.video-card__duration {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.video-card__link:hover .video-card__title {
  color: #FF6A00
}

.video-card__favorite {
  position: absolute;
  top: 12px;
  right: 12px;
}

.video-card__icon {
  width: 30px;
  height: 30px;
}

.video-card__star-orange {
  display: none;
}

.video-card__favorite_active .video-card__star-white {
  display: none;
}

.video-card__favorite_active .video-card__star-orange {
  display: block;
}

/* Video */
.video {
  padding-top: 80px;
}

.video__player {
  margin-bottom: 32px;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;
}

.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.video__container {
  display: flex;
  justify-content: space-between;
  gap: 84px;
}

.video__link {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  height: max-content;
  font-size: 16px;
  letter-spacing: 0.02em;
  white-space: nowrap;
}

.video__in-favorit {
  display: none;
}

.video__icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.video__icon-in {
  display: none;
}

.video__link.video__link_active .video__no-favorite {
  display: none;
}

.video__link.video__link_active .video__icon-no {
  display: none;
}

.video__link.video__link_active .video__in-favorit {
  display: block;
}

.video__link.video__link_active .video__icon-in {
  display: block;
}

.video__title {
  margin-bottom: 24px;
  font-size: 40px;
  letter-spacing: 0.02em;
}

.video__channel {
  margin-bottom: 24px;
  font-size: 24px;
  letter-spacing: 0.02em;
}

.video__info {
  margin-bottom: 4px;
  font-size: 24px;
  letter-spacing: 0.02em;
}

.video__description {
  font-size: 24px;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  padding: 50px 0;
  background: #FF6A00 url('../img/bg.jpg') center/cover;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 360px;
  height: 48px;
}

.footer__developers > * + * {
  margin-top: 10px;
}

.footer__developer-link:hover,
.footer__developer-link:focus-visible {
  color: #883900;
}

.footer__copyright {
  margin-top: 16px;
}

@media (max-width: 1200px) {
  .container {
    --width: 942px;
  }
  .title {
    margin-bottom: 32px;
    font-size: 32px;
  }
  .hero {
    padding: 40px 0 57px;
  }
  .hero__link {
    top: -12px;
  }
  .hero__logo {
    margin-bottom: 45px;
    width: 200px;
    height: 27px;
  }
  .hero__title {
    margin-bottom: 32px;
    font-size: 50px;
  }
  .video-list {
    padding: 60px 0;
  }
  .video-list__items {
    --grid-row-gap: 32px;
  }
  .video-card__title {
    font-size: 18px;
  }
  .video-card__channel {
    font-size: 16px;
  }
  .video-card__duration {
    font-size: 14px;
  }
  .video {
    padding-top: 60px;
  }
  .video__title {
    font-size: 32px;
  }

  .video__channel,
  .video__info,
  .video__description {
    font-size: 20px;
  }

  .footer {
    padding: 27px 0;
    font-size: 14px;
  }
  .footer__logo {
    width: 305px;
    height: 40px;
  }
}

@media (max-width: 850px) {
  .container {
    --width: 624px;
  }
  .hero {
    padding-top: 42px;
  }
  .hero__link span,
  .header__link_favorite span {
    display: none;
  }
  .hero__title {
    font-size: 40px;
  }
  .video-list__items {
    --grid-count: 2;
  }
  .video__player {
    margin-bottom: 24px;
  }
  .video__container {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .video__channel {
    margin-bottom: 20px;
  }
  .footer {
    padding: 27px 0;
    font-size: 14px;
  }
  .footer__logo {
    width: 305px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .footer__container {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .container {
    --padding: 15px;
  }
  .title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .hero {
    margin-bottom: 20px;
    padding: 16px 0 32px;
  }
  .hero__link {
    top: 0;
  }
  .hero__logo {
    margin-bottom: 26px;
    align-self: start;
    width: 145px;
    height: 19px;
  }
  .hero__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .hero__tagline {
    font-size: 16px;
  }
  .header {
    padding: 16px 0 30px;
  }
  .header__logo {
    width: 145px;
    height: 18px;
  }
  .video-list {
    padding: 40px 0;
  }
  .video-list__items {
    --grid-count: 1;
    --grid-row-gap: 20px;
  }
  .video-card__title {
    margin-bottom: 6px;
    font-size: 18px;
  }
  .video-card__channel {
    margin-bottom: 6px;
  }
  .video {
    padding-top: 40px;
  }
  .video__player {
    margin-bottom: 20px;
  }
  .video__title {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .video__channel,
  .video__info,
  .video__description {
    font-size: 16px;
  }
  .video__channel {
    margin-bottom: 12px;
  }




  .footer {
    padding: 24px 0 32px;
  }
  .footer__logo {
    width: 180px;
    height: 24px;
  }
}